<ion-view view-title="{{event.artiste.name}}">
	
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
  	<ion-content class="bg-image" has-header="true">
        <div class="list card">

          <div class="item item-avatar">
            <img ng-src="{{event.artiste.image_url}}">
            <div class="event-info">
              <h2 class="program nomartiste">{{event.artiste.name}}</h2>
              <p class="program pays">{{event.artiste.country}}</p>
              <p class="program scene">{{event.scene.name}}</p>
             </div>
          </div>

          <div class="item item-body">
            
              {{event.artiste.description}}
            
          </div>

        </div>
      </ion-content>
</ion-view>