 <ion-view title="Scènes">

      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-header="true" padding="true">

        <h3 class="center">Les Scènes</h3>
        <div class="list" type="item-text-wrap">
            <a class="item item-thumbnail-left" ng-repeat="scene in scenes" href="#/fimu/scene/{{scene.id}}">
              <img ng-src="{{scene.image_url}}" />
              <h2>{{scene.name}}</h2>
              <p>{{scene.description}}</p>
            </a>
        </div>
      </ion-content>
    </ion-view>