<ion-view title="Plan">

      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-header="true" padding="true">

        <h3>Map</h3>
        <!--div map-lazy-load="https://maps.google.com/maps/api/js"
          map-lazy-load-params="{{googleMapsUrl}}">
          <ng-map center="47.636,6.864" zoom="15"></ng-map>
        </div>-->
        
        
        <ng-map default-style="false" center="47.63826, 6.86276" zoom-to-include-markers="false"  zoom="16" style="height : 400px;">
          <marker id='{{pos.id}}' position="{{pos.position}}"
            ng-repeat="pos in positionsGPS track by pos.id"
            on-click="showDetail(pos)"
            animation="DROP">
          </marker>
          
          <info-window id="foo-iw" position="{{pos.position}}">
            <div ng-non-bindable="">
              {{pos.name}}<br/>
            </div>
          </info-window>
        </ng-map>
        
      </ion-content>
      
</ion-view>