<ion-view title="Fimu 2016">

      <ion-nav-buttons side="right">
          <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      
      <div class="bar bar-subheader">
        <h3 class="center">{{todayDay}}</h3>

        <div id="clockdiv" ng-hide="events.length">
            <div>
              <span class="days">{{duration.days}}</span>
              <div class="smalltext">Jours</div>
            </div>
            <div>
              <span class="hours">{{duration.hours}}</span>
              <div class="smalltext">Heures</div>
            </div>
            <div>
              <span class="minutes">{{duration.minutes}}</span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds">{{duration.seconds}}</span>
              <div class="smalltext">Secondes</div>
            </div>
        </div>
      </div>

      <ion-content has-header="true" class="home-bg-image home">
        

        <ion-list class="home-programs">
          <ion-item id="scene{{event.event_sceneId}}" class="item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/fimu/home/{{event.id}}">
            <img class="program image" ng-src="{{event.artiste.image_url}}" />
            <div class="row">
              <div class="event-info">
                <h2 class="program nomartiste">{{event.artiste.name}}</h2>
                <p class="program description">{{event.artiste.description}}</p>
                <p class="program scene">{{event.scene.name}}</p>
              </div>
              <div >
                <i class="icon"> -
                  <span class="program heuredebut">{{event.startTime}}</span>
                  <span class="program heurefin">{{event.endTime}}</span>
                </i>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>

      <div class="tabs tabs-icon-only tabs-color-active-positive">
        <a nav-clear class="tab-item disable-user-behavior active" title="Programmes" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" nav-clear ui-sref="fimu.home">
          <i class="icon ion-ios-calendar"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Artistes" icon-on="ion-ios-musical-notes" icon-off="ion-ios-musical-note" ui-sref="fimu.scene">
          <i class="icon ion-ios-musical-note"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Plan" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" ui-sref="fimu.drink">
          <i class="icon ion-ios-location-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>

  </ion-view>