<ion-view title="{{scene.name}}">
  
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="false">
      <div class="list card scene-detail">

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#/fimu/scene/{{scene.id}}/events">
            <i class="icon ion-ios-musical-notes"></i>
            Concerts
          </a>
          <a class="tab-item" ui-sref="fimu.map">
            <i class="icon ion-ios-location"></i>
            Localiser
          </a>
        </div>

        <div class="item item-body scene-item">
          <p>
            <img ng-src="{{scene.image_url}}">
          </p>
          <p>
            <span style="font-style:italic; font-size:17px;"><b>{{scene.adresse}}</b></span><br/><br/>
            {{scene.description}}
          </p>
        </div>
      </div>

  </ion-content>

</ion-view>