 <ion-view title="Snd - Chat list">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>

      <ion-content has-header="true" padding="true">

        <h3>Chat list</h3>
        <div class="list">
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Zachary_Quinto_2011.jpg/200px-Zachary_Quinto_2011.jpg" />
              <h2>Oliver Thredson</h2>
              <p>I'm a psychiatrist at Briarcliff Institute</p>
            </a>
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg/129px-Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg" />
              <h2>Lana Winters</h2>
              <p>I'm an ambitious journalist committed to the asylum</p>
            </a>
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Evan_Peters_by_Gage_Skidmore.jpg/165px-Evan_Peters_by_Gage_Skidmore.jpg" />
              <h2>Kit Walker</h2>
              <p>I'm an inmate at Briarcliff Institute</p>
            </a>
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Zachary_Quinto_2011.jpg/200px-Zachary_Quinto_2011.jpg" />
              <h2>Oliver Thredson</h2>
              <p>I'm a psychiatrist at Briarcliff Institute</p>
            </a>
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg/129px-Sarah_Paulson_12_Years_a_Slave_55_cropped.jpg" />
              <h2>Lana Winters</h2>
              <p>I'm an ambitious journalist committed to the asylum</p>
            </a>
            <a class="item item-avatar" href="#/snd/chat-single">
              <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Evan_Peters_by_Gage_Skidmore.jpg/165px-Evan_Peters_by_Gage_Skidmore.jpg" />
              <h2>Kit Walker</h2>
              <p>I'm an inmate at Briarcliff Institute</p>
            </a>
        </div>
      </ion-content>

      <div class="tabs tabs-icon-only tabs-color-active-positive">

        <a nav-clear class="tab-item disable-user-behavior active" title="Programmes" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" nav-clear ui-sref="snd.home">
          <i class="icon ion-ios-calendar-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Artistes" icon-on="ion-ios-musical-notes" icon-off="ion-ios-musical-note" ui-sref="snd.chat">
          <i class="icon ion-ios-musical-notes"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Plan" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="snd.drink">
          <i class="icon ion-ios-gear-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
    </ion-view>