 <ion-view title="Snd - Drink list">

      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-header="true" padding="true">

        <h3>Drink list</h3>
        <div class="list">

            <a class="item item-avatar" href="#">
              <img src="http://lh6.ggpht.com/FftLqhhGQXPTySOyXdZBtMPh81Sgu_bsKthhzMu-U_7UJ8-Zbzk3mrbsa0th-Vv28LNWvZMBt-_B5i89q_HEzhM=s230-c" />
              <h2>Ultimate Bloody Mary</h2>
              <p>Tomato juice, habanero, aquavit and Lea & Perrins Worcestershire Sauce</p>
            </a>
            <a class="item item-avatar" href="#">
              <img src="http://lh5.ggpht.com/QR4CdPeEJjRZWlr7QjFUmuSfbMFezyWPv5udJQoqIKrHhdDYCXzHKx2Rwn9cq-1TbpEFoSUHtn_TUnDO0KnvkA=s230-c" />
              <h2>Bloody Scary</h2>
              <p>Blood orange juice, campari, prosecco, vodka and simple syrup</p>
            </a>
            <a class="item item-avatar" href="#">
              <img src="http://lh5.ggpht.com/hHUPkpVrUoxEVnDlXuS1h2yOgGKuvi2Td9Gr8lrFgxWdB_ExbgLvZ8AOKKoX2luv_-GIkuH72UA9nYx9IiRHAA=s230-c" />
              <h2>Wasabi Bloody Marys</h2>
              <p>Ice, tomato juice, vodka, wasabi powder, soy sauce, lemon juice and more</p>
            </a>

        </div>
      </ion-content>

      <!--div class="tabs tabs-icon-only tabs-color-active-positive">
        <a nav-clear class="tab-item disable-user-behavior" title="Programmes" nav-clear ui-sref="snd.home">
          <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="snd.chat">
          <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior active" title="Drink" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="snd.drink">
          <i class="icon ion-wineglass"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>
    </ion-view>-->


    <div class="tabs tabs-icon-only tabs-color-active-positive">

        <a nav-clear class="tab-item disable-user-behavior active" title="Programmes" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" nav-clear ui-sref="snd.home">
          <i class="icon ion-ios-calendar-outline"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Artistes" icon-on="ion-ios-musical-note" icon-off="ion-ios-musical-note" ui-sref="snd.chat">
          <i class="icon ion-ios-musical-note"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>

        <a nav-clear class="tab-item disable-user-behavior" title="Plan" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="snd.drink">
          <i class="icon ion-ios-gear"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div>