<ion-view title="Oliver Thredson">
  
      <ion-content has-header="true" padding="true">

        <div class="list card">

          <div class="item item-avatar">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Zachary_Quinto_2011.jpg/200px-Zachary_Quinto_2011.jpg">
            <h2>Oliver Thredson</h2>
            <p>I'm a psychiatrist at Briarcliff Institute</p>
          </div>

          <div class="item item-body">
            <p>
              Unlike most of the staff at Briarcliff, Dr Thredson was stoically calm and clinical around patients at the beginning of the series. He also had a less barbaric outlook towards treatment, saying that more compassion would greatly improve conditions for the patients. He was willing to look at the patients as more than just insane criminals in comparison to the sadistic treatment of Sister Jude. However, in his alter ego as "Bloody Face", he reverted to his darker side - an unhinged, sadistic murderer with deep-seated maternal abandonment issues.
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbubbles"></i>
              Chat
            </a>
          </div>

        </div>
      </ion-content>

    </ion-view>