<ion-view view-title="Fimu 2016">

	<ion-content class="padding home-bg-image home">
  
		<div class="padding" style="padding-top : 50px;"></div>
		<button class="button button-block button-positive" ng-click="nowProgramDetails()">
			En ce moment
		</button>
		
		
		<div class="padding"></div>
		<button class="button button-block button-positive">
			Les scènes
		</button>
		
		
		<div class="padding"></div>
		<button class="button button-block button-positive">
			Les styles de musiques
		</button>
		
		<div class="padding"></div>
		
	</ion-content>
</ion-view>
